In [1]:
import keras
import pandas as pd
import numpy as np

Using TensorFlow backend.

In [2]:
from keras.utils import np_utils

In [3]:
train_df = pd.read_csv("train.csv")

In [4]:
train_df.head()

       PID    Date Event
0  1028890  201101  2186
1  1028890  201101  7087
2  1028890  201101  4848
3  1028890  201101  2214
4  1028890  201102  7087

In [5]:
trainX1=pd.get_dummies(train_df['PID'])

In [6]:
#trainX1['Year'] = (train_df['Date']/100).astype(int)
#trainX1['Month'] = (train_df['Date']%100).astype(int)

In [7]:
trainX1.shape

(766787, 3000)

In [8]:
trainX1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766787 entries, 0 to 766786
Columns: 3000 entries, 1000001 to 1031900
dtypes: uint8(3000)
memory usage: 2.1 GB

In [9]:
trainX1=trainX1.astype(np.uint8)

In [10]:
trainX1 = trainX1.values

In [11]:
#trainX1[2]

In [12]:
trainX1.shape

(766787, 3000)

In [13]:
#trainX1[:,:-1]=(train_df['Date']/100).values.astype(int)

In [14]:
trainX2 = pd.DataFrame()

In [15]:
trainX2['Year'] = ((train_df['Date']%1000)/100).astype(np.uint8)
trainX2['Month'] = (train_df['Date']%100).astype(np.uint8)

In [16]:
trainX2.head()

   Year  Month
0     1      1
1     1      1
2     1      1
3     1      1
4     1      2

In [17]:
trainX2.info()
trainX2 = trainX2.values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766787 entries, 0 to 766786
Data columns (total 2 columns):
Year     766787 non-null uint8
Month    766787 non-null uint8
dtypes: uint8(2)
memory usage: 1.5 MB

In [18]:
#trainX2.info

In [19]:
#trainX2[:,2:]=trainX1

In [20]:
trainX1=np.concatenate((trainX1,trainX2),axis=1)

In [21]:
trainX1.shape

(766787, 3002)

In [22]:
trainX1 = np.reshape(trainX1,(trainX1.shape[0],3002,1))

In [23]:
trainY= pd.get_dummies(train_df['Event'])

In [24]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL']='2'
import tensorflow as tf
from keras.layers import Dense,LSTM
from keras.models import Sequential

In [25]:
reg = Sequential()

In [26]:
reg.add(LSTM(units =40,activation = 'sigmoid',input_shape = (None , 1)))

In [27]:
reg.add(Dense(units = 6472+3000,kernel_initializer = 'uniform'))
#reg.add(Dense(units = 6472 , kernel_initializer = 'uniform'))
reg.add(Dense(units=6472,kernel_initializer='uniform', activation='softmax'))
reg.compile(optimizer='adam',loss='categorical_crossentropy', metrics=['categorical_accuracy'])

In [ ]:
reg.fit(trainX1,trainY.values,batch_size = 200,epochs = 2)

Epoch 1/2
 45800/766787 [>.............................] - ETA: 11375s - loss: 7.3111 - categorical_accuracy: 0.0379

In [ ]:
reg.save('LSTM_Final.h5')